html, body {
 height: 100%;
 margin: 0;
 padding: 0;
 overflow: auto;
 }

.admin-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .rsvp-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .rsvp-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .rsvp-item p {
    margin: 5px 0;
  }
  
  .rsvp-item strong {
    color: #333;
  }
  
  /* Style the row for Name and Attending to be side by side */
  .rsvp-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .rsvp-row p {
    margin: 0;
  }
  
  .rsvp-row p strong {
    margin-right: 10px;
  }
  
  .rsvp-row span {
    margin-left: 10px;
  }

  .rsvp-item .checkmark {
    color: green;
  }
  
  .rsvp-item .cross {
    color: red;
  }

  .pagination {
    display: inline-flex; /* Use inline-flex to shrink-wrap content */
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Center pagination horizontally */
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd; /* Optional: Add a subtle border for a compact look */
    border-radius: 8px; /* Rounded edges for a neat look */
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 8px;
    font-size: 12px;
    font-weight: bold; /* Optional: Highlight the page info */
    white-space: nowrap;
  }
  
  
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        overflow: auto;
      }
      
    .admin-container {
      padding: 15px;
    }
  
    .rsvp-list {
      gap: 15px;
    }
  
    .rsvp-item {
      padding: 15px;
    }
  
    .rsvp-row {
      flex-direction: column; /* Stack vertically on smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .admin-container {
      padding: 10px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .rsvp-item {
      padding: 12px;
    }
  }
  