body {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  padding: 0;
  color: #333;
  height: 100vh; /* Ensure body takes full height of viewport */
  overflow-x: hidden;
}

.container {
  display: flex;
  height: 100vh; /* Full height for the container */
}

.left-side,
.right-side {
  flex: 1; /* Equal flex for left and right */
  display: flex;
  min-width: 0; /* Prevent overflow */
}

.left-side {
  position: relative;
  flex: 1; /* Ensure the left side takes equal space */
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-image: url('https://i.imgur.com/BtWCq06.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
}

.portrait-image {
  width: 100%;
  height: 100%; /* Set height to 100% to fill container */
  object-fit: cover; /* Cover the area without distortion */
}

.wedding-text {
  width: 100%;
  text-align: center;
  padding: 20px; /* Add padding around the text */
}

.wedding-intro {
  font-size: 28px;
  font-weight: 400;
  color: black;
  margin: 20px 0; /* Increased margin */
  padding: 20px;
  font-family: "Libre Baskerville", serif;
}

.wedding-details {
  font-size: 30px;
  line-height: 1.6; /* Maintained line-height for readability */
  color: #333;
  margin: 20px 0; /* Increased margin between text blocks */
  margin-bottom: 0px;
  text-align: center;
}

.wedding-details-last-page {
  font-size: 30px;
  line-height: 1.6; /* Maintained line-height for readability */
  color: #333;
  margin: 20px 0; /* Increased margin between text blocks */
  margin-bottom: 0px;
  padding-top: 15px;
  text-align: center;
}

.wedding-info{
  font-size: 20px;
  line-height: 1.6; /* Maintained line-height for readability */
  color: #333;
  padding-bottom: 20px;
}

.wedding-info2{
  font-size: 20px;
  line-height: 1.6; /* Maintained line-height for readability */
  color: #333;
  padding-bottom: 20px;
  padding-top: 20px;
}

.wedding-names-image {
  max-width: 400px; /* Keep max-width for smaller size */
  height: auto;
  margin-top: 30px; /* Increased margin to create more space */
}

.wedding-names-image-last-page {
  max-width: 400px; /* Keep max-width for smaller size */
  height: auto;
  margin-top: 0px; /* Increased margin to create more space */
}

.show-form-button,
.natrag-button {
  background-color: #57764a;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2px;
  width: 100%;
  max-width: 300px;
  margin: 10px 0; /* Add margin for spacing */
}

.show-form-button:hover,
.natrag-button:hover {
  background-color: #465e38;
}

.rsvp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  width: 80%; 
  max-width: 100%; 
  margin: 0px auto; /* Add margin to create space around the form */
  box-sizing: border-box;
  text-align: center;
  transition: padding 0.3s ease; /* Smooth transition */
}

.rsvp-form.guest-selected {
  padding: 10px; /* Reduce padding when guest is selected */
}

.rsvp-form input[type="text"],
.rsvp-form input[type="email"],
.rsvp-form input[type="number"] {
  width: calc(100% - 24px);
}

.rsvp-form table {
  width: 95%;
  border-collapse: collapse;
}

.rsvp-form td {
  padding: 12px;
}

.rsvp-form td:first-child {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: #000000;
  text-align: left;
}

input, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 4px;
  background: #fff;
  color: #333;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #57764a;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
  background-color: #465e38;
}

.reset-button {
  background-color: #57764a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
}

.reset-button:hover {
  background-color: #465e38;
}

.responseButton {
  background-color: #57764a; /* Same background color as submit button */
  color: #fff; /* Text color */
  padding: 15px; /* Same padding */
  border: none; /* No border */
  border-radius: 18px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 18px; /* Font size */
  letter-spacing: 2px; /* Letter spacing for better readability */
  width: 100%; /* Full width */
  max-width: 300px; /* Optional: set max-width to maintain consistency */
  margin: 10px 0; /* Margin for spacing */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.45); /* Add a shadow underneath the button */
  width: auto;
  font-family: 'Libre Baskerville', serif;
}

.responseButton:hover {
  background-color: #465e38; /* Darker shade on hover */
}

.additional-image {
  display: block; /* Ensures the image is on a new line */
  margin: 10px auto; /* Center the image and add some space */
  max-width: 40%; /* Set max width to 50% of its container */
  height: auto; /* Keeps aspect ratio */
  padding-top: 20px;
}

.decorative-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 100%;
}

.decorative-elements-last-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  max-width: 100%;
  padding-top: 0px;
}

/* Hide the default radio buttons */
input[type="radio"] {
  display: none;
}

/* Container for the radio buttons */
.radio-group {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the radio buttons */
  align-items: center; /* Align items vertically centered */
  margin: 20px 0; /* Optional: Add some vertical spacing around the group */
}

/* Individual radio button container */
.radio-container {
  display: flex;
  align-items: center;
  margin: 0 20px; /* Set equal margin on both sides for spacing */
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

/* Hide the default radio buttons */
input[type="radio"] {
  display: none;
}

/* Custom radio button styles */
.custom-radio {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #57764a;
  display: inline-block;
  margin-right: 8px;
  border-radius: 3px; /* Keep it squared */
  position: relative;
  cursor: pointer; /* Change cursor to pointer */
  align-items: center;
}

/* Style for the checkmark when the radio button is selected */
.custom-radio::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid #57764a; /* Green color for the checkmark */
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  top: 1px;
  left: 7px;
  display: none;
}

/* Show checkmark when the radio button is checked */
input[type="radio"]:checked + .custom-radio::after {
  display: block;
}

/* Ensure both options are side by side even on smaller screens */
td {
  vertical-align: middle; /* Ensure cells are vertically centered */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Hide the default checkbox */
input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

/* Custom checkbox styles */
.custom-checkbox {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #57764a;
  display: inline-block;
  margin-right: 8px;
  border-radius: 3px; /* Keep it squared */
  position: relative;
  cursor: pointer; /* Change cursor to pointer */
}

/* Style for the checkmark when the checkbox is checked */
.custom-checkbox::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid #57764a; /* Green color for the checkmark */
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  top: 1px;
  left: 7px;
  display: none;
}

/* Show checkmark when the checkbox is checked */
input[type="checkbox"]:checked + .custom-checkbox::after {
  display: block; /* Show the checkmark */
}

/* Mobile Styles */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    overflow: auto;
  }

  .left-side {
    width: 100%;
  }

  .portrait-image {
    width: 100%;
    height: auto;
  }

  .right-side {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .rsvp-form {
    max-width: 100%;
  }

  .radio-container {
    margin-right: 20px; /* Adjust spacing between buttons for mobile */
  }

  td {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; /* Make sure it spreads across the full width on mobile */
  }

  .response-image {
    max-width: 100%; /* Adjust the image size */
    height: auto; /* Keep aspect ratio */
    margin-top: 0px; /* Space above the image */
  }
}

/* Large Screen Adjustments */
@media (min-width: 1200px) {
  .container {
    justify-content: center;
  }

  .right-side {
    max-width: 50%; /* Maintain full width on large screens */
  }

  .left-side {
    max-width: 50%;
  }

  .wedding-names-image {
    max-width: 350px; /* Further reducing the size on large screens */
  }
}

.back-button {
  display: flex; /* Aligns the arrow and text horizontally */
  align-items: center; /* Vertically centers the elements */
  font-size: 24px; /* Increases font size for better visibility */
  color: #57764a; /* Matches theme color */
  cursor: pointer; /* Hand cursor on hover */
  text-decoration: none; /* Removes underline */
  padding-left: 20px; /* Adds space from the left edge */
  margin-bottom: 20px; /* Adds some space below the button */
  font-family: 'Libre Baskerville', serif; /* Matches font style */
  border: none;
  outline: none;
}

.back-button svg {
  font-size: 28px; /* Increases arrow size */
  margin-right: 8px; /* Space between arrow and text */
  fill: #57764a; /* Arrow color */
}

.back-button:hover {
  color: #465e38; /* Darkens color on hover */
}

.back-button svg:hover {
  fill: #465e38; /* Darkens arrow on hover */
}

.response-image {
  max-width: 20%; /* Adjust the image size */
  height: auto; /* Keep aspect ratio */
  margin-top: 0px; /* Space above the image */
}

.response-message {
  font-family: 'Libre Baskerville', serif;
  width: 100%;
  text-align: center;
  padding: 0px;
  padding-bottom: 10px;
  color: #000;
  font-size: 25px;
}

.response-text{
  font-family: 'Libre Baskerville', serif;
}

.response-message-2{
  font-family: 'Libre Baskerville', serif;
  width: 100%;
  text-align: center;
  padding: 0px;
  color: #57764a;
  font-size: 20px;
}

.response-message-black{
  font-family: 'Libre Baskerville', serif;
  width: 100%;
  text-align: center;
  padding: 0px;
  color: #000;
  font-size: 20px;
  padding-top: 20px;
}